/* CSS for the tooltip */
#avatar_wrapper {
  position: relative;
  display: inline-block;
  justify-content: center;
}

#profile_avatar {
  position: relative;
  cursor: pointer;
  z-index: 2;
}

#avatar_tooltip {
  position: absolute;
  top: 83%;
  left: 68%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

#profile_avatar:hover {
  filter: brightness(50%);
}

#avatar_wrapper:hover #avatar_tooltip {
  display: block;
}