/* CSS for the registration form modal */
#registration_form, #login_form, #bids_form, #adding_form {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000ad;
  transition: 0.5s;
}

#registration_form, #login_form, #bids_form, #adding_form {
  display: none;
}

/* CSS for the form container within the modal */
#register_form, #log_form, #bid_form, #add_form {
  background-color: #1e1e1e;
}